*{
    /* color: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.toggle .common:hover{
    background-color:red;
}
.slide{
    height: 100%;
    width:180px;
    position: absolute;
     background-color: #f9004d;
     transition: 0.5s ease;
     transform: translateX(-180px);
}
h1{
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
ul,li{
    list-style: none;
}
ul,li,a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
ul li a i{
    width: 40px;
    text-align: center;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance:none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #000000;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.toggle .common {
    position:absolute;
    height: 2px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: 0.3s ease;

}
.toggle .topline
{
    top: 30%;
    left: 20%;
    transform: translate(-50% -50%);
}
.toggle .middleline
{
    top: 50%;
    left: 20%;
    transform: translate(-50% -50%);
}
.toggle .bottomline
{
    top: 70%;
    left: 20%;
    transform: translate(-50% -50%);
}
input:checked ~ .toggle .topline{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middleline{
   opacity: 0;
   }
input:checked ~ .toggle .bottomline{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .slide{
    transform: translateX(0);

}
#t
{
    text-shadow: black 3px 3px;
    font-size: 50px;
    font-weight:bolder;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
#one{
    height: 70px;
    width: 100%;
    background-color:  #f9004d;
    display: flex;
    align-items: center;
    justify-content: center;
}
 #two{
    color: white;
    height: 30px;
    width: 100%;
    background-color:  black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:cursive;
 }
ul{
    font-family:cursive;

}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #191919;
}
.container{
    margin-top: 50px;
    background-color:#42323a4c;
    width: 45%;
    min-width: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 30px;
   
}
.container:hover{
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.642);
}
.image-container{
    position: relative;
    width: 100%;
}
img{
    display: none;
    position: relative;
    width: 100%;
}
.active{
    display: block;
}
.dot-container{
    width: 150px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
button{
    outline: none;
    cursor: pointer;
}
.dot-container button{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: transparent;
}
.dot-container button:nth-child(1){
    background-color:  black;
}
#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: black;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
}
#prev{
    left: 15px;
}
#next{
    right: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.home-container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #191919;
}
.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 0 20px;
}
.profile-card:hover{
    border-radius: 10px;
    height: 260px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-card:hover img{
    border-radius: 10px;
    transform: translateY(-70px);
}
.img img{
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    transition: all .4s;
    z-index: 99;
}
.caption{
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.profile-card:hover .caption{
    opacity: 1;
    pointer-events: all;
}
.caption h3{
    font-size: 21px;
    color: #0c52a1;
    font-weight: 600;
}
.caption p{
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
}
.caption .social-links i{
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;
    transition: all .4s;
}
.caption .social-links i:hover{
    color: #0c52a1;
}
#kd,#simran,#vaishnavi{
    display: block;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.home-container2{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#191919;
}
.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 0 20px;
}
.profile-card:hover{
    border-radius: 10px;
    height: 260px;
}
.profile-card .img{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-card:hover img{
    border-radius: 10px;
    transform: translateY(-70px);
}
.img img{
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    transition: all .4s;
    z-index: 99;
}
.caption{
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.profile-card:hover .caption{
    opacity: 1;
    pointer-events: all;
}
.caption h3{
    font-size: 21px;
    color: #0c52a1;
    font-weight: 600;
}
.caption p{
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
}
.caption .social-links i{
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;
    transition: all .4s;
}
.caption .social-links i:hover{
    color: #0c52a1;
}
#kd,#simran,#vaishnavi{
    display: block;
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
/* .about img{
    height: 700px;
    width: 500px;
} */
.main{
    width: ;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
#intern,#member,#donat{
    background-color: black;
}
#but{
    width: 300px;
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    
}
.new{
    display: flex;
    justify-content: center;
}
button:hover{
    background:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.about{
margin-top: 600px;
}

/* #logo{
    display: block;
    height: 250px;
    width: 250px;
    border: 3px solid  black;
    border-radius: 50%;

}
#logo:hover{
    border:3px solid  rgb(91, 1, 1);;
    box-shadow: 5px 15px 30px rgba(255, 255, 255, 0.781);} */

#ww{
    text-shadow: rgb(210, 0, 0) 1px 1px;
    font-size: 60px;
    text-align: center;
}
#but:hover{
    background-color: rgb(91, 1, 1);
    border: 3px solid black;
}
#about:hover{
    border: 1px solid white;
}
/* #two:hover{
    border: 1px solid white;
} */
#team:hover{
    border: 1px solid white;
    
}
#certificate:hover{
    border: 1px solid white;
}
#join:hover{
    border: 1px solid white;
}
#donate:hover{
    border: 1px solid white;
}
li:hover{
    /* border: 4px solid black; */
    background-color: rgba(255, 225, 0, 0.779);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.642);

}
#menuu
{
    color:black;
    font-weight: bolder;
    text-decoration: underline;
}
#logo2{
    display: block;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid black;
    margin-left:1180px;
    margin-top: 10px;

}


.about2{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about2 img{
    height: 700px;
    width: 500px;
}
.about2-text{
    width: 100px;
}
.main2{
    width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
}
.about-text2 h1{
    color: white;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
span{
    color: #f9004d;
}

.about-text2 p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
#but2{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;}
.about2{
      margin-top: 80px;
    }
    .about-text2{
        width: 1000px;
        text-align: center;
    }
    .about-text3 h1{
        color: white;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
   
  .box{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 100%;
}
#box1,#box2,#box3{
    opacity: 80%;
    text-align: center;
    height: 400px;
    width: 340px;
    background-color:#f9004d;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-shadow: black 1px 1px;

    
}
#box1:hover{
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.781);
        opacity: 100%;
        
}
#box2:hover{
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.781);
    opacity: 100%;
}
#box3:hover{
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.781);
    opacity: 100%;
}

.btn{
    font-size: 20px;
    background-color: #000000;
    margin-top: 25px;
    opacity: 90%;
    border-radius: 50%;


}
.btn:hover{
    border: 2px solid rgb(0, 0, 0);
    opacity: 100%;
}
p7,p8,p9{
    font-size: 18px;
}

.about4{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about4 img{
    height: 700px;
    width: 500px;
}
.about-text4{
    width: 1000px;
}
.main4{
    width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
}
.about-text4 h1{
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-text4 h5{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-align: center;
}
span{
    color: #f9004d;
}

.about-text4 p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: cent
}
#but4{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.about4{
margin-top: 120px;
}

/* #logo4{
    display: block;
    height: 250px;
    width: 250px;
    border: 3px solid  black;
    border-radius: 50%;

}
#logo4:hover{
    border:3px solid  rgb(91, 1, 1);;
    box-shadow: 5px 15px 30px rgba(255, 255, 255, 0.781); */
/* } */
#ww4{
    text-shadow: rgb(210, 0, 0) 1px 1px;
    font-size: 60px;
    text-align: center;
}
.end{
    background-color: #f9004d;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 80%;
}
texttt{
    font-size: 30px;
    font-family: cursive;
}
.end:hover{
    opacity: 100%;
}
.end1{
    background-color: #000000;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
textttt{
    font-size: 15px;
    font-family:cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container9{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul9{
	list-style: none;
}
.footer{
	background-color:#191919;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #d11f1f;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} */
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}

}


.end2{
    background-color: #000000;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
texttttt{
    font-size: 10px;
    margin-bottom: 30px;
}


.end3{
    background-color: #000000;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
textttttt{
  font-size: 10px;
}
h5{
    text-align: center;
}
/* .about-text{
    text-align: center;
    width: 1240px;
    
} */
@media screen and (max-width:500px)
{
    .about-text p{
        color: white;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    #t{
        font-size: 20px;
    }
    #two{
          font-size: 10px;
    }
    .container{
        width: 200px ;
        height: 330px;
    }
    .about{
        width: 10px;
    }
    .logo{
        height:50px ;
        width:50px ;
    }
    .home-container{
      display: table-row;

    }

    .home-container2{
        display:table-row;
        
    }
    .profile-card{
        margin-bottom: 50px;
        margin-left: 30%;
    }
    textttt{
        font-size: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }
    #detail{
        text-align: center;
        width: 380px;
        font-family: Georgia, 'Times New Roman', Times, serif ;
    
    }
    textttttt{
        font-size: 12px;
      
    }
.row{
    text-align: center;
}
#on,#of,#mid{
    color: #f9004d;
}

    
    texttt{
        font-family: Georgia, 'Times New Roman', Times, serif ;
        font-size: 18px;
    }
    .end1{
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }
    .end2{
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }
    h5{
text-align: center;
    }
    
    .box{
        display: table-row;
    }
    #box1{
        height: 380px;
        width: 100%;
        margin-bottom: 100px;
    }
    #box2{
        height: 380px;
        width: 100%;
        margin-bottom: 100px;
    }
    #box3{
        height: 380px;
        width: 100%;
    }
    #detail{
        font-family: Georgia, 'Times New Roman', Times, serif ;
    }
.about-text{
    align-items: center;
    justify-content: center;
    width: 1200px;
}

h5{
    text-align: center;
}
.end{
    height: 50px;
}
#but{
    width:300px;
}
 .new{
    display: flex;
    justify-content: center;
 }

}
 
.row{
    text-align: center;
}
#on,#of,#mid{
    color: #f9004d;
    text-decoration: underline;
}
#web{
    background-color: #e12baa;
    
}
#site{
    background-color: #2b25e0;
    
}

#text1{
    color: white;
    font-size: 6px;
    text-align: center;
}
.ww{
    text-align: center;
 }
#detail{
    text-align: center;
}